@media (max-width: 768px) {
  section {
    img {
      max-width: 40%;
    }
  }
  .main-info__bottom-img {
    flex-wrap: wrap;
  }
  .main-info__section-one {
    display: flex;
    align-items: center;
   flex-direction: column;

  }
  .main-info__subsection-one {
    flex-wrap: wrap;

    align-items: center;


   }
  .main-info__subsection-two {
    img {
      margin: 0 auto;
    }
  }
}
@media (max-width: 1255px) {
  section {
    img {
      max-width: 80%;
    }
  }
  .main-info__bottom-img {
    flex-wrap: wrap;
  }
}